/*------------------------------GENERAL--------------------------*/
/*------------------------------LAYOUT---------------------------*/
/*------------------------SISTEMA DE COLUMNAS--------------------*/
/*-----------------------------NAVEGACIÓN------------------------*/
/*------------------------CONSULTA DE MEDIOS---------------------*/

/*-------------------GENERAL------------ */
* {
    box-sizing: border-box;
}

body {
    margin: auto;
}


#principal {
    margin: auto;
    width: 100%;   
}

img {
    width: 100%;
    
}

/*-----------------LAYOUT-------------------*/
h1 {

    font-size: 4em;
    text-align: center;
    color: black;
}

h2 {
    color: black;
    text-align: center;
    font-size: 2.5em;
    padding: 10px;
    
}

h6 {text-align: center;}
a {
    text-decoration: none;
    color: black;
}
:root {

   
    --primario:  #EBEBEB;
    --secundario: #9F6F6F;
    --terciario: #525252;
    --cuarto: #9F9F9F;
    --quinto: #6C4B4B;
   
}

.primario {
    background-color: var(--primario);
   
}

.secundario {
    background-color: var(--secundario);
  
}

.terciario {
    background-color: var(--terciario);
   
}
.cuarto {
    background-color: var(--cuarto);
}
.quinto {background-color: var(--quinto);}

.carousel-caption.d-none.d-md-block {
	background-color: #5252526e;
}
footer {
    background-color: var(--quinto);
}

.nav-tabs .nav-item.show .nav-link, .nav-tabs .nav-link.active {
    background-color: var(--secundario);
  
}
.accordion-button.collapsed {
	background-color: var(--terciario);	
}

.accordion-button:not(.collapsed) {
    background-color:var(--terciario);
   color: var(--primario);
}

.accordion-body {
	background-color:var(--cuarto);
}

.accordion-header {
	margin-bottom: 0;
	background-color: var(--terciario);
}

.card {
    text-align: center;
    width: 100%;
    border-width: 0;
    background-color: #9F6F6F;
}

.fila.acontecimientos > div {
    display: flex;
}
.boton-efemerides {
    background-color:var(--terciario);
    padding-inline: 6px;
    display: inline-block;
    border-radius: 15%;
    color: var(--primario);
}
.boton {
    background-color: #6C4B4B;
    padding-inline: 6px;
    display: inline-block;
    border-radius: 15%;
    

}
.carousel-item img {
    object-fit: contain;
    height: 800px;
    
  }

.card [class^="col-"] {padding: 0;}

.card-body {
    position: relative;
    top: 20%;
}
/*--------------SISTEMA DE COLUMNAS---------*/

[class^="col-"] {
    padding: 10px;
}

.fila {
    display: flex;
    flex-wrap: wrap;
}

/*------------------NAVEGACIÓN--------------*/

nav {
    margin: 0;
    background-color: #6C4B4B;
    padding: 0;
}

nav ul {
    margin: 0;
    padding: 0;
    list-style-type: none;
    justify-content: flex-end;
    text-align: end;
   
}

nav li {
    list-style-type: none;

}

nav a {
    text-decoration: none;
    color: black;
    background-color: #6C4B4B;
    padding: 20px;
    transition: all .4s;
    display: block;
    font-weight: 50%;
    font-size: 1.1em;
}

nav a:hover {
    background-color:#9F6F6F;
}

#hamburguesa {
    display: none;
}

/*-------------CONSULTA DE MEDIOS----------*/
@media screen and (min-width:576px) {
    #principal {
        width: 540px;
    }

    .primero-movil {
        order: 1;
    }

    .segundo-movil {
        order: 2;
    }

    .col-12-movil {

        width: 100%;

    }

    .col-11-movil {
        width: 91.666666%;
    }

    .col-10-movil {
        width: 83.333%;
    }

    .col-9-movil {
        width: 75%;

    }

    .col-8-movil {
        width: 66.666666%;
    }

    .col-7-movil {
        width: 58.333333%;
    }

    .col-6-movil {
        width: 50%;
    }

    .col-5-movil {
        width: 41.666666%;

    }

    .col-4-movil {
        width: 33.333333%;
    }

    .col-3-movil {
        width: 25%;
    }

    .col-2-movil {
        width: 16.666666%;
    }

    .col-1-movil {
        width: 8.333333%;
    }

}

@media screen and (min-width:768px) {
    #principal {
        width: 720px;
    }
    .primero-tablet-vertical {
        order: 1;
    }

    .segundo-tablet-vertical {
        order: 2;
    }
    .col-12-tablet-vertical {

        width: 100%;

    }

    .col-11-tablet-vertical {
        width: 91.666666%;
    }

    .col-10-tablet-vertical {
        width: 83.333%;
    }

    .col-9-tablet-vertical {
        width: 75%;

    }

    .col-8-tablet-vertical {
        width: 66.666666%;
    }

    .col-7-tablet-vertical {
        width: 58.333333%;
    }

    .col-6-tablet-vertical {
        width: 50%;
    }

    .col-5-tablet-vertical {
        width: 41.666666%;

    }

    .col-4-tablet-vertical {
        width: 33.333333%;
    }

    .col-3-tablet-vertical {
        width: 25%;
    }

    .col-2-tablet-vertical {
        width: 16.666666%;
    }

    .col-1-tablet-vertical {
        width: 8.333333%;
    }

}

@media screen and (min-width:992px) {
    #principal {
        width: 960px;
    }
    .primero {
        order: 1;
    }

    .segundo {
        order: 2;
    }

    .col-12-tablet-horizontal {

        width: 100%;

    }

    .col-11-tablet-horizontal {
        width: 91.666666%;
    }

    .col-10-tablet-horizontal {
        width: 83.333%;
    }

    .col-9-tablet-horizontal {
        width: 75%;

    }

    .col-8-tablet-horizontal {
        width: 66.666666%;
    }

    .col-7-tablet-horizontal {
        width: 58.333333%;
    }

    .col-6-tablet-horizontal {
        width: 50%;
    }

    .col-5-tablet-horizontal {
        width: 41.666666%;

    }

    .col-4-tablet-horizontal {
        width: 33.333333%;
    }

    .col-3-tablet-horizontal {
        width: 25%;
    }

    .col-2-tablet-horizontal {
        width: 16.666666%;
    }

    .col-1-tablet-horizontal {
        width: 8.333333%;
    }
}

@media screen and (min-width:1200px) {
    #principal {
        width: 1140px;
    }
    .primero {
        order: 1;
    }

    .segundo {
        order: 2;
    }
    .col-12-escritorio {

        width: 100%;

    }

    .col-11-escritorio {
        width: 91.666666%;
    }

    .col-10-escritorio {
        width: 83.333%;
    }

    .col-9-escritorio {
        width: 75%;

    }

    .col-8-escritorio {
        width: 66.666666%;
    }

    .col-7-escritorio {
        width: 58.333333%;
    }

    .col-6-escritorio {
        width: 50%;
    }

    .col-5-escritorio {
        width: 41.666666%;

    }

    .col-4-escritorio {
        width: 33.333333%;
    }

    .col-3-escritorio {
        width: 25%;
    }

    .col-2-escritorio {
        width: 16.666666%;
    }

    .col-1-escritorio {
        width: 8.333333%;
    }
}

@media screen and (min-width:1400px) {
    #principal {
        width: 1320px;
    }
    .primero {
        order: 1;
    }

    .segundo {
        order: 2;
    }

    .col-12-escritorio-xl {

        width: 100%;

    }

    .col-11-escritorio-xl {
        width: 91.666666%;
    }

    .col-10-escritorio-xl {
        width: 83.333%;
    }

    .col-9-escritorio-xl {
        width: 75%;

    }

    .col-8-escritorio-xl {
        width: 66.666666%;
    }

    .col-7-escritorio-xl {
        width: 58.333333%;
    }

    .col-6-escritorio-xl {
        width: 50%;
    }

    .col-5-escritorio-xl {
        width: 41.666666%;

    }

    .col-4-escritorio-xl {
        width: 33.333333%;
    }

    .col-3-escritorio-xl {
        width: 25%;
    }

    .col-2-escritorio-xl {
        width: 16.666666%;
    }

    .col-1-escritorio-xl {
        width: 8.333333%;
    }
}
