* {
    box-sizing: border-box;
}

body {
font-family: 'Inconsolata', monospace; }

#principal {
    margin: auto;
    width: 100%;
    border: black;
}
img {margin: auto;}

/*-----------Formularios-------------*/

input[type=text]:focus {
    outline: 3px solid blueviolet;
} 



.fila {
    display: flex;
    flex-wrap: wrap;
}

[class^="col-"] {
    width: 100%;
    padding: 10px;
}

/*-------------CONSULTA DE MEDIOS----------*/
@media screen and (min-width:576px) {
    #principal {
        width: 540px;
    }

    .col-12-movil {

        width: 100%;

    }

    .col-11-movil {
        width: 91.666666%;
    }

    .col-10-movil {
        width: 83.333%;
    }

    .col-9-movil {
        width: 75%;

    }

    .col-8-movil {
        width: 66.666666%;
    }

    .col-7-movil {
        width: 58.333333%;
    }

    .col-6-movil {
        width: 50%;
    }

    .col-5-movil {
        width: 41.666666%;

    }

    .col-4-movil {
        width: 33.333333%;
    }

    .col-3-movil {
        width: 25%;
    }

    .col-2-movil {
        width: 16.666666%;
    }

    .col-1-movil {
        width: 8.333333%;
    }

}

@media screen and (min-width:768px) {
    #principal {
        width: 720px;
    }

    .col-12-tablet-vertical {

        width: 100%;

    }

    .col-11-tablet-vertical {
        width: 91.666666%;
    }

    .col-10-tablet-vertical {
        width: 83.333%;
    }

    .col-9-tablet-vertical {
        width: 75%;

    }

    .col-8-tablet-vertical {
        width: 66.666666%;
    }

    .col-7-tablet-vertical {
        width: 58.333333%;
    }

    .col-6-tablet-vertical {
        width: 50%;
    }

    .col-5-tablet-vertical {
        width: 41.666666%;

    }

    .col-4-tablet-vertical {
        width: 33.333333%;
    }

    .col-3-tablet-vertical {
        width: 25%;
    }

    .col-2-tablet-vertical {
        width: 16.666666%;
    }

    .col-1-tablet-vertical {
        width: 8.333333%;
    }

}

@media screen and (min-width:992px) {
    #principal {
        width: 960px;
    }

    .col-12-tablet-horizontal {

        width: 100%;

    }

    .col-11-tablet-horizontal {
        width: 91.666666%;
    }

    .col-10-tablet-horizontal {
        width: 83.333%;
    }

    .col-9-tablet-horizontal {
        width: 75%;

    }

    .col-8-tablet-horizontal {
        width: 66.666666%;
    }

    .col-7-tablet-horizontal {
        width: 58.333333%;
    }

    .col-6-tablet-horizontal {
        width: 50%;
    }

    .col-5-tablet-horizontal {
        width: 41.666666%;

    }

    .col-4-tablet-horizontal {
        width: 33.333333%;
    }

    .col-3-tablet-horizontal {
        width: 25%;
    }

    .col-2-tablet-horizontal {
        width: 16.666666%;
    }

    .col-1-tablet-horizontal {
        width: 8.333333%;
    }
}

@media screen and (min-width:1200px) {
    #principal {
        width: 1140px;
    }

    .col-12-escritorio {

        width: 100%;

    }

    .col-11-escritorio {
        width: 91.666666%;
    }

    .col-10-escritorio {
        width: 83.333%;
    }

    .col-9-escritorio {
        width: 75%;

    }

    .col-8-escritorio {
        width: 66.666666%;
    }

    .col-7-escritorio {
        width: 58.333333%;
    }

    .col-6-escritorio {
        width: 50%;
    }

    .col-5-escritorio {
        width: 41.666666%;

    }

    .col-4-escritorio {
        width: 33.333333%;
    }

    .col-3-escritorio {
        width: 25%;
    }

    .col-2-escritorio {
        width: 16.666666%;
    }

    .col-1-escritorio {
        width: 8.333333%;
    }
}

@media screen and (min-width:1400px) {
    #principal {
        width: 1320px;
    }


    .col-12-escritorio-xl {

        width: 100%;

    }

    .col-11-escritorio-xl {
        width: 91.666666%;
    }

    .col-10-escritorio-xl {
        width: 83.333%;
    }

    .col-9-escritorio-xl {
        width: 75%;

    }

    .col-8-escritorio-xl {
        width: 66.666666%;
    }

    .col-7-escritorio-xl {
        width: 58.333333%;
    }

    .col-6-escritorio-xl {
        width: 50%;
    }

    .col-5-escritorio-xl {
        width: 41.666666%;

    }

    .col-4-escritorio-xl {
        width: 33.333333%;
    }

    .col-3-escritorio-xl {
        width: 25%;
    }

    .col-2-escritorio-xl {
        width: 16.666666%;
    }

    .col-1-escritorio-xl {
        width: 8.333333%;
    }
}